.Banner {
    margin: 40px 10px;
    height: 250px;
    background-image: url(../assets/carousel/top-view-crochet-set-with-copy-space-yarn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}