@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
  
* {
    margin: 0;
    padding: 0;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li:hover {
    color: #B5C18E;
    cursor: pointer;
}


.toolbar-app {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toolbar {
    height: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toolbar-logo{
    font-size: 30px ;
    font-family: "Playwrite HR Lijeva", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #B5C18E;
}

.toolbar-filter {
    background-image: url(../assets/icons/search_30dp_B5C18E_FILL0_wght400_GRAD0_opsz24.svg);
    background-repeat: no-repeat;
    background-position: right;
    height: 35px;
    padding-left: 4px;
    width: 450px;
    font-size: 20px;
    border: solid 1px #F7DCB9;
    border-radius: 5px;
}

.toolbar-buttons {
    display: flex;
    justify-content: end;
    width: 261.61px;
}

.toolbar-home {
    padding: 10px;
    background-image: url(../assets/icons/menu_30dp_B5C18E_FILL0_wght400_GRAD0_opsz24.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 35px;
}

.toolbar-login {
    background-image: url(../assets/icons/person_30dp_B5C18E_FILL0_wght400_GRAD0_opsz24.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 35px;
}

.toolbar-shopping {
    background-image: url(../assets/icons/shopping_cart_30dp_B5C18E_FILL0_wght400_GRAD0_opsz24.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 35px;
}

.toolbar__ {
    margin: auto;
    width: 900px;
    height: 40px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    margin: auto;
    height: 40px;
}

.navbar-news {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #B99470;
    border: 1px solid #f7dcb900;
}
.navbar-amigurumis {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #B99470;
    border: 1px solid #f7dcb900;
}
.navbar-babys {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #B99470;
    border: 1px solid #f7dcb900;
}
.navbar-accessories {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: #B99470;
    border: 1px solid #f7dcb900;
}



.toolbar-home:hover {
    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}
.toolbar-login:hover {
    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}
.toolbar-shopping:hover {
    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}

.navbar-news:hover {

    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}
.navbar-amigurumis:hover {

    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}
.navbar-babys:hover {

    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}
.navbar-accessories:hover {

    border: solid 1px #F7DCB9  ;
    border-radius: 5px;
}

